{% extends "base.html" %}
{% load static %}

{% block content%}
<div class="page-wrapper">
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title mt-5">Thêm combo</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 mb-5">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_combo_code">Mã Combo</label>
                        <input class="form-control" type="text" name="combo_code" id="id_combo_code" value="{{ form.instance.combo_code }}" placeholder="KFC0001">
                    </div>
                    <div class="form-group">
                        <label for="id_combo_name">Tên Combo</label>
                        <input class="form-control" type="text" name="combo_name" id="id_combo_name" value="{{ form.instance.combo_name }}" placeholder="Combo Gà Rán 1">
                    </div>
                    <div class="form-group">
                        <label for="id_unit_price">Đơn giá</label>
                        <input class="form-control" type="number" name="unit_price" id="id_unit_price" value="{{ form.instance.unit_price }}" placeholder="100.000đ">
                    </div>
                    <div class="form-group">
                        <label for="id_quantity">Số lượng</label>
                        <input class="form-control" type="number" name="quantity" id="id_quantity" value="{{ form.instance.quantity }}" placeholder="5">
                    </div>
                    <div class="form-group">
                        <label for="id_image">Hình ảnh</label>
                        <input class="form-control" type="file" name="image" id="id_image">
                        {% if form.instance.image %}
                        <img src="{{ form.instance.image.url }}" alt="{{ form.instance.combo_name }}" style="max-width: 100px; max-height: 100px;">
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="id_products">Sản phẩm</label>
                        {{ form.products }}
                    </div>
                    <button type="submit" class="btn btn-primary buttonedit">Lưu</button>
                    <a href="{% url 'combo_list' %}"><button type="button" class="btn btn-outline-secondary buttonedit">
                        Hủy
                    </button></a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content%}